.form__item {
    display: block;
}
.form__error {
    color: red;
    font-size: 13px;
    margin-bottom: 5px;
}
.form__label {
    margin-bottom: 5px;
}
.form__input {
    padding: 5px 0;
    margin: 0;
    border-radius: 5px;
    border: none;
}